<?xml version="1.0"?>

<!-- see http://www.phpunit.de/wiki/Documentation -->
<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">

  <testsuites>
    <testsuite name="Ferret">
      <file>test/Ferret/FerretTest.php</file>
    </testsuite>
    <testsuite name="Detectors">
      <file>test/Ferret/Detector/CompositeTest.php</file>
      <file>test/Ferret/Detector/FileinfoTest.php</file>
      <file>test/Ferret/Detector/PathinfoTest.php</file>
    </testsuite>
    <testsuite name="ExternalDetectors">
      <file>test/Ferret/Detector/MIMETypeTest.php</file>
    </testsuite>
  </testsuites>

  <groups>
    <include>
    </include>
    <exclude>
      <group>ExternalDetectors</group>
    </exclude>
  </groups>

  <logging>
    <log type="coverage-html"
         target="../build/Ferret/test/report/coverage"
         charset="UTF-8"
         yui="true"
         highlights="true"/>
    <log type="testdox-html"
         target="../build/Ferret/test/report/testdox.html"/>
    <log type="junit"
         target="../build/Ferret/test/report/logfile.xml"
         logIncompleteSkipped="false"/>
  </logging>
</phpunit>
