<?xml version="1.0"?>

<!-- see http://www.phpunit.de/wiki/Documentation -->
<phpunit bootstrap="test/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
           
  <testsuite name="all">
    <directory suffix="Test.php">test/Ferret/</directory>
  </testsuite>
  
  <logging>
    <log type="coverage-html"
         target="test/report/coverage"
         charset="UTF-8"
         yui="true"
         highlights="true"/>
    <log type="testdox-html"
         target="test/report/testdox.html"/>
    <log type="junit"
         target="test/report/logfile.xml"
         logIncompleteSkipped="false"/>
  </logging>
</phpunit>
