<?xml version="1.0"?>

<!-- see http://www.phpunit.de/wiki/Documentation -->
<phpunit bootstrap="test/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">

  <testsuites>
    <testsuite name="Ferret">
      <file>test/Versionable/Ferret/FerretTest.php</file>
    </testsuite>
    <testsuite name="Detectors">
      <file>test/Versionable/Ferret/Detector/DetectorAbstractTest.php</file>
      <file>test/Versionable/Ferret/Detector/CompositeTest.php</file>
      <file>test/Versionable/Ferret/Detector/FileinfoTest.php</file>
      <file>test/Versionable/Ferret/Detector/PathinfoTest.php</file>
    </testsuite>
    <testsuite name="ExternalDetectors">
      <file>test/Versionable/Ferret/Detector/MIMETypeTest.php</file>
    </testsuite>
  </testsuites>

  <groups>
    <include>
    </include>
    <exclude>
      <group>ExternalDetectors</group>
    </exclude>
  </groups>

  <logging>
    <log type="coverage-html"
         target="build/test/report/coverage"
         charset="UTF-8"
         yui="true"
         highlights="true"/>
    <log type="testdox-html"
         target="build/test/report/testdox.html"/>
    <log type="junit"
         target="build/test/report/logfile.xml"
         logIncompleteSkipped="false"/>
  </logging>

  <filter>
    <whitelist>
      <directory suffix=".php">src/</directory>
    </whitelist>
  </filter>
</phpunit>
